@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

:root {
  font-family: "Quicksand", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #181C20;
  background-color: #F8F9FF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* reset to avoid default white page borders */
*, *::before, *::after { box-sizing: border-box; }

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #F8F9FF;
}

a {
  font-weight: 500;
  color: #005E97;
  text-decoration: inherit;
}
a:hover {
  color: #003555;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #181C20;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #005E97;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: #003555;
}
button:focus,
button:focus-visible {
  outline: 3px solid #9ACBFF;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
