name: Deploy Frontend to S3

on:
  push:
    branches:
      - main # O la rama que quieras deployar

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Clear S3 bucket before uploading
        run: aws s3 rm s3://virtual-pet-frontend/ --recursive

      - name: Upload to S3
        run: aws s3 sync dist/ s3://virtual-pet-frontend/ --acl public-read

      - name: Set index and error documents (solo primera vez)
        run: |
          aws s3 website s3://virtual-pet-frontend/ \
            --index-document index.html \
            --error-document index.html
